@model SortedDictionary<DiplomovaPrace.Models.Point,object>
@{
    ViewBag.Title = "Matrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matice sledovatelnosti požadavků</h2>
<p></p>
<div class="container tableContainer">
    <div class="table-responsive">
        <table class="table table-bordered" cellspacing="0">
            @for (int i = 0; i < (int)ViewBag.ReqCount+1; i++)
            {
                <tr>
                    @for (int j = 0; j < (int)ViewBag.UseCount+1; j++)
                    {
                        DiplomovaPrace.Models.Point point = new DiplomovaPrace.Models.Point(j, i);
                        object item = null;
                        Model.TryGetValue(point, out item);
                    <td>
                        @if (item != null)
                        {
                            if (item is DiplomovaPrace.Models.Requirement)
                            {
                                DiplomovaPrace.Models.Requirement req = (DiplomovaPrace.Models.Requirement)item;
                                <a class="btn-link" href="@Url.Action("Functional","Requirements")">@req.ID_Requirement</a>
                            }

                            if (item is DiplomovaPrace.Models.UseCase)
                            {
                                DiplomovaPrace.Models.UseCase use = (DiplomovaPrace.Models.UseCase)item;
                                <a class="btn-link" href="@Url.Action("Index","UseCase")">@use.Name</a>
                            }

                            if (item is Boolean)
                            {
                                <i class="fa fa-check" style="color: green"></i>
                            }

                        }

                    </td>

                    }
                </tr>
            }
        </table>
    </div>
</div>

